name: Test and push protagonist recalculator lambda functions

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "terraform/**"
      - "sql/**"

permissions:
  id-token: write  # required for OIDC / AWS
  contents: read   # This is required for actions/checkout

jobs:
  test-entity-counter-recalculator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: 3.11
          cache: 'pip' # caching pip dependencies
      - name: Install dependencies
        run: python -m pip install -r requirements.txt
      - name: Run python tests
        working-directory: ./src
        run: python -m unittest test_entity_counter_recalculator.py

  test-customer-storage-recalculator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: 3.11
          cache: 'pip' # caching pip dependencies
      - name: Install dependencies
        run: python -m pip install -r requirements.txt
      - name: Run python tests
        working-directory: ./src
        run: python -m unittest test_customer_storage_recalculator.py

  build-push-dlcs-entity-counter-recalculator:
    runs-on: ubuntu-latest
    needs: test-entity-counter-recalculator
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/docker-build-and-push
        with:
          image-name: "dlcservices-entity-counter-recalculator"
          dockerfile: "src/EntityCounterDockerfile"
          context: "./src"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          ecr-role: ${{ secrets.ECR_ROLE }}

  build-push-dlcs-customer-storage-recalculator:
    runs-on: ubuntu-latest
    needs: test-customer-storage-recalculator
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/docker-build-and-push
        with:
          image-name: "dlcservices-customer-storage-recalculator"
          dockerfile: "src/CustomerStorageDockerfile"
          context: "./src"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          ecr-role: ${{ secrets.ECR_ROLE }}