name: Test and push protagonist recalculator lambda functions

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    branches:
      - main

jobs:
  test-entity-counter-recalculator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: 3.11
          cache: 'pip' # caching pip dependencies
      - name: Install dependencies
        run: python -m pip install -r requirements.txt
      - name: Run python tests
        working-directory: ./entity-counter-recalculator
        run: python -m unittest test_main.py

  build-push-dlcs-entity-counter-recalculator:
    runs-on: ubuntu-latest
    needs: test-entity-counter-recalculator
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/docker-build-and-push
        with:
          image-name: "entity-counter-recalculator"
          dockerfile: "entity-counter-recalculator/Dockerfile"
          context: "./entity-counter-recalculator"
          github-token: ${{ secrets.GITHUB_TOKEN }}