name: Test and push protagonist recalculator lambda functions

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: 3.11
          cache: 'pip' # caching pip dependencies
      - name: Install dependencies
        run: python -m pip install -r requirements.txt
      - name: Run python tests
        working-directory: ./entity-counter-recalculator
        run: python -m unittest test_main.py
      - name: Install zip
        uses: montudor/action-zip@v1
      - name: Zip output
        working-directory: ./entity-counter-recalculator
        run: zip -qq -r entity-counter-recalculator_${{ github.run_id }}.zip main.py app/
      - uses: actions/upload-artifact@v2
        with:
          name: entity-counter-recalculator
          path: ./entity-counter-recalculator/entity-counter-recalculator_${{ github.run_id }}.zip