name: Test and push protagonist recalculator lambda functions

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    env:
      NOW:
    steps:
      - uses: actions/checkout@v3
      - name: Setup python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: 3.11
          cache: 'pip' # caching pip dependencies
      - name: Install dependencies
        run: python -m pip install -r requirements.txt
      - name: Run python tests
        working-directory: ./entity-counter-recalculator
        run: python -m unittest test_main.py
      - name: Install zip
        uses: montudor/action-zip@v1
      - name: run zip action
        run: |
         chmod +x .github/helpers/zip-files.sh
         .github/helpers/zip-files.sh
      - uses: actions/upload-artifact@v3
        with:
          name: entity-counter-recalculator
          path: ./entity-counter-recalculator**
